* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

div.night {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark)
    

}

button { 
    border: none;
    outline: none;
    border-radius: 8rem 8rem;

    width: 13rem;
    height: 7rem;
    background-color: var(--label);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    background-color: white;
    width: 4.4rem;
    height: 4.4rem;

    border-radius: 50%;
}


#moon, #sun{
    width: 4.4rem;
    height: 4.4rem;
}



